* {
    box-sizing: border-box;
    font-family: "Segoe UI";
    border-radius: 0px !important;
}

body, html {
    height: 100%;
    width: 100%;
}

.grid-child {
    height: 33.33%;
}

.container,
.container > div:nth-child(1).row {
    height: 100%;
}

    .container > div:nth-child(1).row > div.grid {
        height: 500px;
        width: 500px;
        margin: 100px auto;
        border: 1px solid #ccc;
    }

        .container > div:nth-child(1).row > div.grid > div.grid-child {
            display: inline-block;
            border: 1px solid #ccc;
            cursor: pointer;
            padding: 0px;
        }

            .container > div:nth-child(1).row > div.grid > div.grid-child.white,
            .container > div:nth-child(1).row > div.grid > div.grid-child.black {
                background-image: url('https://vantrung1408.github.io/ai/Contents/03_Image/point.png');
                background-repeat: no-repeat;
            }

            .container > div:nth-child(1).row > div.grid > div.grid-child.white {
                background-position: 0px -166px;
            }

            .container > div:nth-child(1).row > div.grid > div.grid-child.selected {
                border-color: rgb(0, 128, 0);
                outline: 0;
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 128, 0, .6);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 128, 0, .6);
                z-index: 100;
            }

                .container > div:nth-child(1).row > div.grid > div.grid-child.selected > div {
                    position: relative;
                    height: 100%;
                    width: 100%;
                }

                    .container > div:nth-child(1).row > div.grid > div.grid-child.selected > div > span.glyphicon {
                        position: absolute;
                        font-size: 50px;
                        text-align: center;
                    }

                        .container > div:nth-child(1).row > div.grid > div.grid-child.selected > div > span.glyphicon.glyphicon-chevron-up {
                            top: -50px;
                            left: 0px;
                            width: 100%;
                        }

                        .container > div:nth-child(1).row > div.grid > div.grid-child.selected > div > span.glyphicon.glyphicon-chevron-down {
                            top: 100%;
                            left: 0px;
                            width: 100%;
                        }

                        .container > div:nth-child(1).row > div.grid > div.grid-child.selected > div > span.glyphicon.glyphicon-chevron-left {
                            left: -50px;
                            top: calc(50% - 25px);
                            height: 100%;
                        }

                        .container > div:nth-child(1).row > div.grid > div.grid-child.selected > div > span.glyphicon.glyphicon-chevron-right {
                            right: -50px;
                            top: calc(50% - 25px);
                            height: 100%;
                        }

    .container + div {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.5);
        text-align: center;
        color: #fff;
    }

        .container + div > p {
            font-size: 50px;
            text-transform: uppercase;
            font-weight: 600;
            margin: 0px;
        }

        .container + div span {
            font-size: 30px;
            text-transform: uppercase;
        }

.container.nim .row>div{
    margin: 50px auto;
    float: none;
    text-align: center;
}

.container.nim .row>div .label{
    font-size: 20px;
    margin-bottom: 10px;
}

.container.nim.playing .row>div{
    background-image: url('https://vantrung1408.github.io/ai/Contents/03_Image/line.png');
    background-position: center;
    background-repeat: no-repeat;
}

.container.nim.playing .row>div>div{
    height: 70px;
}

.popover-content,
.popover-title{
    text-align: center;
}

